# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual Environments
.venv/
venv/
env/

# Environment variables
.env

=
# Vector Store
vectorstore/faiss_index/

# Jupyter / Notebooks

.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log
